
* {
    padding: 0;
    margin: 0;
    box-shadow: none;
  }
  body {
    background-color: #262626;
  }
  .wrapper {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
  }
  .messagesBox {
  }
  .msgController {
    width: 100%;
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px sold;
    margin: 10px;
  }
  .msgController input[type=text] {
    width: 100%;
  }
  .msgController input {
    padding: 10px;
    border: 0;
    font-size: 18px;
  }
  .msgController input[type="button"] {
    cursor: pointer;
  }